$main-font: 'Poppins', sans-serif;
$backgroud-hero: #232536;
$backgroud-blue:#444CFC;
$backgroud-gray: #E5E5E5;
$backgroud-white: #ffffff;
$backgroud-softblue: #ECF8F9;
$backgroud-brown: #FFE6D2;
$backgroud-purple: #F9F9FF;
$backgroud-subscribe: #666DFF;
