@import "common";
header {
  background-color: $backgroud-hero;
  border: 1px solid rgba(255, 255, 255, 0.05);
  .logo {
    width: 122px;
  }
  .navbar {
    display: flex;
    justify-content: space-between;
    padding-top: 28px;
    padding-bottom: 28px;
    .navigation {
      width: 698px;
      display: flex;
      justify-content: space-between;
      & a {
        text-decoration: none;
        font-family: $main-font;
        color: $backgroud-white;
        opacity: 0.6;
        font-weight: 500;
        font-size: 16px;
        line-height: 24px;
      }
      div {
        a {
          color: #ffd3af;
        }
      }
    }
  }
}
.hero-section {
  background-color: $backgroud-hero;
  .hero-box {
    padding-top: 96px;
    display: flex;
    justify-content: space-between;
    .leftbox {
      width: 624px;
      .frstbutton {
        font-family: $main-font;
        font-style: normal;
        font-weight: 500;
        font-size: 16px;
        line-height: 24px;
        color: #ffffff;
        opacity: 0.87;
        background-color: $backgroud-blue;
        padding: 20px 32px;
        margin-top: 32px;
        position: relative;
        border: $backgroud-blue;
        .cornersvg {
          position: absolute;
          left: 0;
          top: 0;
        }
        .icon {
          padding-left: 9px;
        }
      }
      .leftup {
        padding-top: 56px;
        display: flex;
        flex-direction: column;
        gap: 10px;
        p {
          font-family: $main-font;
          font-style: normal;
          font-weight: 400;
          font-size: 16px;
          line-height: 24px;
          color: #ffffff;
          opacity: 0.6;
        }
        h1 {
          font-family: $main-font;
          font-style: normal;
          font-weight: 600;
          font-size: 56px;
          line-height: 68px;
          color: #ffffff;
        }
        .graybox {
          width: 24px;
          height: 24px;
          background: rgba(255, 255, 255, 0.06);
        }
      }
    }
    .heroimgbox {
      position: relative;
      width: 563px;
      display: flex;
      .frstimg {
        position: relative;
        padding-left: 16px;

      }
      .shapes2 {
        position: absolute;
        left: 0;
        bottom: 0;
      }
      .shapes1 {
        position: absolute;
        right: 0;
        top: 0;
      }
      
    }
  }
}
