* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

.container {
  width: 80%;
  margin-left: auto;
  margin-right: auto;
}

header {
  background-color: #232536;
  border: 1px solid rgba(255, 255, 255, 0.05);
}
header .logo {
  width: 122px;
}
header .navbar {
  display: flex;
  justify-content: space-between;
  padding-top: 28px;
  padding-bottom: 28px;
}
header .navbar .navigation {
  display: flex;
  justify-content: space-between;
  gap: 32px;
}
header .navbar .navigation a {
  text-decoration: none;
  font-family: "Poppins", sans-serif;
  color: rgba(255, 255, 255, 0.6);
  font-weight: 500;
  font-size: 16px;
  line-height: 24px;
}
header .navbar .navigation a:hover {
  color: #ffffff;
}
header .navbar .navigation div a {
  color: #ffd3af;
}

.hero-section {
  background-color: #232536;
}
.hero-section .hero-box {
  padding-top: 96px;
  display: flex;
  justify-content: space-between;
}
.hero-section .hero-box .leftbox {
  width: 624px;
}
.hero-section .hero-box .leftbox .leftup {
  padding-top: 56px;
  display: flex;
  flex-direction: column;
  gap: 10px;
  margin-bottom: 32px;
}
.hero-section .hero-box .leftbox .leftup p {
  font-family: "Poppins", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  color: #ffffff;
  opacity: 0.6;
}
.hero-section .hero-box .leftbox .leftup h1 {
  font-family: "Poppins", sans-serif;
  font-style: normal;
  font-weight: 600;
  font-size: 56px;
  line-height: 68px;
  color: #ffffff;
}
.hero-section .hero-box .leftbox .leftup .graybox {
  width: 24px;
  height: 24px;
  background: rgba(255, 255, 255, 0.06);
}
.hero-section .hero-box .heroimgbox {
  position: relative;
  width: 563px;
  display: flex;
}
.hero-section .hero-box .heroimgbox .frstimg {
  position: relative;
  padding-left: 16px;
}
.hero-section .hero-box .heroimgbox .shapes2 {
  position: absolute;
  left: 0;
  bottom: 0;
}
.hero-section .hero-box .heroimgbox .shapes1 {
  position: absolute;
  right: 0;
  top: 0;
}
.hero-section .clients-box {
  display: flex;
  justify-content: space-between;
  margin-top: 32px;
  padding-bottom: 32px;
}
.hero-section .clients-box .clients {
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 2px;
}
.hero-section .clients-box .clients div:first-child {
  font-family: "Poppins", sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 20px;
  color: rgba(255, 255, 255, 0.6);
  vertical-align: middle;
}
.hero-section .clients-box .clients div:last-child {
  font-family: "Poppins", sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 18px;
  line-height: 28px;
  color: #ffffff;
}

.about-section {
  margin-top: 120px;
}
.about-section .about-us {
  display: flex;
  flex-direction: column;
  gap: 48px;
  padding-bottom: 98px;
}
.about-section .about-us .up-text h2 {
  font-family: "Poppins", sans-serif;
  font-style: normal;
  font-weight: 600;
  font-size: 48px;
  line-height: 58px;
  color: #232536;
}
.about-section .about-us .up-text h3 {
  font-family: "Poppins", sans-serif;
  font-style: normal;
  font-weight: 600;
  font-size: 36px;
  line-height: 54px;
  color: #232536;
  margin-bottom: 16px;
}
.about-section .about-us .up-text p {
  font-family: "Poppins";
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  color: #5d5f6d;
}
.about-section .about-us .up-text .bout {
  font-family: "Poppins", sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 20px;
  letter-spacing: 3px;
  text-transform: uppercase;
  color: rgba(0, 0, 0, 0.8705882353);
  margin-bottom: 16px;
}

.flex-spacebetween {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.experience .gap {
  gap: 66px;
}
.experience h3 {
  font-family: "Poppins", sans-serif;
  font-style: normal;
  font-weight: 600;
  font-size: 36px;
  line-height: 54px;
  color: #232536;
}
.experience p {
  font-family: "Poppins";
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  color: #000000;
}
.experience a {
  font-family: "Poppins";
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 24px;
  color: rgba(68, 76, 252, 0.8705882353);
  text-decoration: none;
}

.expertise-section {
  background-color: #ECF8F9;
}
.expertise-section .expertise {
  display: flex;
  justify-content: space-between;
  gap: 141px;
  padding-top: 96px;
  padding-bottom: 96px;
}
.expertise-section .expertise .left-differences {
  padding-bottom: 58px;
  padding-top: 46px;
}
.expertise-section .expertise .right-differences {
  display: flex;
  flex-direction: column;
  gap: 12px;
}
.expertise-section .expertise .difference {
  background-color: #ffffff;
  width: 515px;
  position: relative;
}
.expertise-section .expertise .difference img {
  position: absolute;
  bottom: 0;
  left: 0;
}
.expertise-section .expertise .difference img.circles {
  position: absolute;
  left: 32px;
  top: 32px;
}
.expertise-section .expertise .difference .margpad {
  padding: 32px 117px 32px 95px;
}
.expertise-section .expertise .difference h6 {
  font-family: "Poppins";
  font-style: normal;
  font-weight: 600;
  font-size: 16px;
  line-height: 28px;
  color: #000000;
  margin-bottom: 8px;
}
.expertise-section .expertise .difference .smallp {
  font-family: "Poppins";
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 20px;
  color: #5d5f6d;
}
.expertise-section .bout {
  font-family: "Poppins", sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 20px;
  letter-spacing: 3px;
  text-transform: uppercase;
  color: rgba(0, 0, 0, 0.8705882353);
  margin-bottom: 16px;
}
.expertise-section h2 {
  font-family: "Poppins", sans-serif;
  font-style: normal;
  font-weight: 600;
  font-size: 48px;
  line-height: 58px;
  color: #232536;
  margin-bottom: 24px;
}
.expertise-section p {
  font-family: "Poppins";
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  color: #5d5f6d;
}

.brown {
  background-color: #FFE6D2;
  padding-top: 96px;
  padding-bottom: 96px;
}
.brown .services-header {
  width: 777px;
}
.brown .services-header p {
  font-family: "Poppins", sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 20px;
  letter-spacing: 3px;
  text-transform: uppercase;
  color: #000000;
  opacity: 0.87;
  margin-bottom: 12px;
}
.brown .services-header h2 {
  font-family: "Poppins";
  font-style: normal;
  font-weight: 600;
  font-size: 48px;
  line-height: 58px;
  color: #232536;
  margin-bottom: 40px;
}
.brown .raw-boxes {
  gap: 32px;
  margin-top: 80px;
}
.brown .raw-boxes div {
  background-color: #ffffff;
  padding: 48px 31px 44px 48px;
}
.brown .raw-boxes div .icons {
  margin-bottom: 16px;
}
.brown .raw-boxes div h6 {
  font-family: "Poppins";
  font-style: normal;
  font-weight: 600;
  font-size: 16px;
  line-height: 28px;
  color: #000000;
  margin-bottom: 8px;
}
.brown .raw-boxes p {
  font-family: "Poppins";
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  color: #5d5f6d;
  margin-bottom: 24px;
}
.brown .raw-boxes a {
  font-family: "Poppins";
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 24px;
  color: #444cfc;
  opacity: 0.87;
  text-decoration: none;
}

button {
  font-family: "Poppins", sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 24px;
  color: #ffffff;
  opacity: 0.87;
  background-color: #444CFC;
  padding: 20px 32px;
  position: relative;
  border: #444CFC;
}
button .cornersvg {
  position: absolute;
  left: 0;
  top: 0;
}
button .icon {
  padding-left: 9px;
}

.process-section {
  position: relative;
}
.process-section .process-div {
  padding-top: 96px;
  padding-bottom: 96px;
}
.process-section .process-div img.lines {
  position: absolute;
  top: 460px;
  left: 552px;
}
.process-section .process-div .header-text {
  font-family: "Poppins", sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 20px;
  letter-spacing: 3px;
  text-transform: uppercase;
  color: #000000;
  opacity: 0.87;
  margin-bottom: 16px;
}
.process-section .process-div h2 {
  font-family: "Poppins", sans-serif;
  font-style: normal;
  font-weight: 600;
  font-size: 48px;
  line-height: 58px;
  color: #232536;
  max-width: 57.26%;
  margin-bottom: 16px;
}
.process-section .process-div p {
  font-family: "Poppins";
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  color: #232536;
  opacity: 0.87;
  max-width: 50.15%;
  margin-bottom: 68px;
}
.process-section .process-div .grid-section {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 48px;
}
.process-section .process-div .grid-section div {
  background-color: #ffffff;
  border: 1px solid rgba(35, 37, 54, 0.168627451);
  position: relative;
  max-width: 395px;
}
.process-section .process-div .grid-section div img.numbers {
  position: absolute;
  top: 12px;
  right: 12px;
}
.process-section .process-div .grid-section div img.circles {
  position: absolute;
  top: 32px;
  left: 32px;
}
.process-section .process-div .grid-section div img.shapeunder {
  position: absolute;
  bottom: -9px;
}
.process-section .process-div .grid-section div img.shapeup {
  position: absolute;
  top: -9px;
}
.process-section .process-div .grid-section div h6 {
  font-family: "Poppins";
  font-style: normal;
  font-weight: 600;
  font-size: 16px;
  line-height: 28px;
  color: #000000;
  padding-left: 95px;
  margin-bottom: 6px;
  padding-top: 30px;
}
.process-section .process-div .grid-section div p {
  padding-left: 95px;
  max-width: 100%;
  padding-bottom: 28px;
  margin-bottom: 0;
  padding-right: 11px;
}

footer .leftpart {
  padding-bottom: 64px;
}
footer .leftpart img {
  margin-bottom: 32px;
}
footer .leftpart h2 {
  font-family: "Poppins", sans-serif;
  font-style: normal;
  font-weight: 600;
  font-size: 48px;
  line-height: 58px;
  color: #232536;
  margin-bottom: 40px;
  width: 453px;
}
footer .leftpart h4 {
  font-family: "Poppins", sans-serif;
  font-style: normal;
  font-weight: 600;
  font-size: 24px;
  line-height: 36px;
  color: #232536;
  margin-bottom: 28px;
}
footer .leftpart p.plarge {
  font-family: "Poppins";
  font-style: normal;
  font-weight: 500;
  font-size: 18px;
  line-height: 28px;
  color: #232536;
}
footer .leftpart p.psmall {
  font-family: "Poppins";
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 20px;
  color: #232536;
  margin-top: 16px;
  width: 206px;
}
footer .leftpart div.aline {
  width: 268px;
  border: 1px solid rgba(0, 0, 0, 0.08);
  margin-top: 14px;
}

.pink-footer {
  background-color: #FFE6D2;
}
.pink-footer .bottom-logos {
  padding-top: 28px;
  padding-bottom: 28px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 42px;
}
.pink-footer .socials {
  display: flex;
  gap: 26.68px;
}/*# sourceMappingURL=landing.css.map */