@import "common";
header {
  background-color: $backgroud-hero;
  border: 1px solid rgba(255, 255, 255, 0.05);
  .logo {
    width: 122px;
  }
  .navbar {
    display: flex;
    justify-content: space-between;
    padding-top: 28px;
    padding-bottom: 28px;
    .navigation {
      display: flex;
      justify-content: space-between;
      gap: 32px;
      & a {
        text-decoration: none;
        font-family: $main-font;
        color: #ffffff99;
        font-weight: 500;
        font-size: 16px;
        line-height: 24px;
        &:hover {
          color: #ffffff;
        }
      }
      div {
        a {
          color: #ffd3af;
        }
      }
    }
  }
}
.hero-section {
  background-color: $backgroud-hero;
  .hero-box {
    padding-top: 96px;
    display: flex;
    justify-content: space-between;
    .leftbox {
      width: 624px;
      .frstbutton {
        font-family: $main-font;
        font-style: normal;
        font-weight: 500;
        font-size: 16px;
        line-height: 24px;
        color: #ffffff;
        opacity: 0.87;
        background-color: $backgroud-blue;
        padding: 20px 32px;
        margin-top: 32px;
        position: relative;
        border: $backgroud-blue;
        .cornersvg {
          position: absolute;
          left: 0;
          top: 0;
        }
        .icon {
          padding-left: 9px;
        }
      }
      .leftup {
        padding-top: 56px;
        display: flex;
        flex-direction: column;
        gap: 10px;
        p {
          font-family: $main-font;
          font-style: normal;
          font-weight: 400;
          font-size: 16px;
          line-height: 24px;
          color: #ffffff;
          opacity: 0.6;
        }
        h1 {
          font-family: $main-font;
          font-style: normal;
          font-weight: 600;
          font-size: 56px;
          line-height: 68px;
          color: #ffffff;
        }
        .graybox {
          width: 24px;
          height: 24px;
          background: rgba(255, 255, 255, 0.06);
        }
      }
    }
    .heroimgbox {
      position: relative;
      width: 563px;
      display: flex;
      .frstimg {
        position: relative;
        padding-left: 16px;
      }
      .shapes2 {
        position: absolute;
        left: 0;
        bottom: 0;
      }
      .shapes1 {
        position: absolute;
        right: 0;
        top: 0;
      }
    }
  }
  .clients-box {
    display: flex;
    justify-content: space-between;
    margin-top: 32px;
    padding-bottom: 32px;
    .clients {
      display: flex;
      flex-direction: column;
      justify-content: center;
      gap: 2px;
      div:first-child {
        font-family: $main-font;
        font-style: normal;
        font-weight: 500;
        font-size: 14px;
        line-height: 20px;
        color: #ffffff99;
        vertical-align: middle;
      }
      div:last-child {
        font-family: $main-font;
        font-style: normal;
        font-weight: 500;
        font-size: 18px;
        line-height: 28px;
        color: #ffffff;
      }
    }
  }
}
.about-section {
  margin-top: 120px;
  .about-us {
    display: flex;
    flex-direction: column;
    gap: 48px;
    padding-bottom: 98px;
    .up-text {
      h2 {
        font-family: $main-font;
        font-style: normal;
        font-weight: 600;
        font-size: 48px;
        line-height: 58px;
        color: $backgroud-hero;
      }
      h3 {
        font-family: $main-font;
        font-style: normal;
        font-weight: 600;
        font-size: 36px;
        line-height: 54px;
        color: $backgroud-hero;
        margin-bottom: 16px;
      }
      p {
        font-family: "Poppins";
        font-style: normal;
        font-weight: 400;
        font-size: 16px;
        line-height: 24px;
        color: #5d5f6d;
      }
      .bout {
        font-family: $main-font;
        font-style: normal;
        font-weight: 500;
        font-size: 14px;
        line-height: 20px;
        letter-spacing: 3px;
        text-transform: uppercase;
        color: #000000de;
        margin-bottom: 16px;
      }
    }
  }
}
.flex-spacebetween {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.experience {
  .gap {
    gap:  66px;
  }
  h3 {
    font-family: $main-font;
    font-style: normal;
    font-weight: 600;
    font-size: 36px;
    line-height: 54px;
    color: $backgroud-hero;
  }
  p {
    font-family: "Poppins";
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    color: #000000;
  }
  a {
    font-family: "Poppins";
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 24px;
    color: #444cfcde;
    text-decoration: none;
  }
}
